* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  margin-top: 50px;
  padding: 30px;
  outline: 3px solid rgba(39, 227, 186, 0.801);
  border-radius: 8px;
  max-width: 500px;
  margin: 50px auto 0;
  position: relative;
}

.input__wrapper {
  display: flex;
  column-gap: 10px;
  position: relative;
}

.input__wrapper span {
  position: absolute;
  left: 20px;
  top: 10px;
  transition: all 0.5s ease-in-out;
}

.input__wrapper input:focus~span {
  top: -5px;
  background-color: black;
  padding: 0 10px;
  border-left: 3px solid rgba(39, 227, 186, 0.801);
  border-right: 3px solid rgba(39, 227, 186, 0.801);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.44);
  letter-spacing: 5px;
}

.wrapper input {
  display: inline-block;
  height: 40px;
  border: 3px solid rgba(39, 227, 186, 0.801);
  background-color: transparent;
  max-width: 300px;
  width: 100%;
  margin-bottom: 40px;
  outline: transparent;
  font-size: 16px;
  color: #fff;
  padding: 0 15px;
  border-radius: 8px;
}

.wrapper button {
  display: inline-block;
  border: 3px solid rgba(39, 227, 186, 0.801);
  background-color: transparent;
  font-size: 16px;
  height: 40px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.wrapper button:hover {
  font-weight: bolder;
}

.wrapper button::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: -110%;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.wrapper button:hover::before {
  top: 0;
  outline: 4px solid rgba(39, 227, 186, 0.801);
  background-color: rgba(39, 227, 186, 0.801);
}

.output-container table {
  width: 100%;
}

.output-container tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 18px;
}